dotenv
mlflow 
protobuf
xgboost
numpy
tqdm
typer[all]
PyYAML
hist
matplotlib
corner
mplhep
scikit-learn
uproot
bayesian-optimization==3.0.1
bithub@git+https://github.com/pviscone/BitHub.git
conifer@git+https://github.com/pviscone/conifer.git@temp_master